/* --------------------------------------------------  All property start ------------------------------------ */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* ------------------------------------------------------All property end--------------------------------------------- */








/*---------------------------------------------------------------- Header start -------------------------------------------------------*/

#header {
    padding-top: 71px;
    width: 1920px;
    background: #E4F5EB;
    height: 900px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .logo {} */

/* .logo--img {} */

.nav--ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 38%;
    margin-left: 200px;

}

/* .nav--ul--li {} */

.nav--ul--li--link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 19.8294px;
    line-height: 15px;
    color: #575859;
}

.nav--btns {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.nav--btns--left {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 19.8294px;
    line-height: 15px;
    color: #575859;
}

.nav--btns--right {
    width: 137px;
    height: 55px;
    border-radius: 5px;
    border: none;
    background: #45B871;
    box-shadow: 0px 7.93174px 79.3174px rgba(9, 188, 77, 0.2);

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 19.8294px;
    line-height: 15px;
    color: #FFFFFF;
}




/*---------------------------------------------------------------- Hero start------------------------------------------- */
#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero--left {
    display: flex;
    flex-direction: column;
}

.hero--left--title {

    width: 613px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 63.4539px;
    line-height: 83px;


    color: #242323;

}

.hero--left--text {
    margin: 31px 0 41px;
    width: 625px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;


    color: #6C6C6A;


}

.hero--left--btns {
    display: flex;

    align-items: center;
}

.hero--left--btns--one {
    width: 202px;
    height: 72px;
    border-radius: 5px;
    border: none;
    background: #45B871;
    box-shadow: 0px 7.93174px 79.3174px rgba(9, 188, 77, 0.2);

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 19.8294px;
    line-height: 32px;
    color: #FFFFFF;
}

.hero--left--btns--two {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 19.8294px;
    line-height: 15px;
 

    color: #242323ec;

}

.hero--right {
    position: relative;
    right: -40px;
}




/*----------------------------------------------------------------- Hero end -----------------------------------------------*/

/*-----------------------------------------------------------------  Header end -----------------------------------------------*/







/*------------------------------------------------------------------  Sec2 start -------------------------------------------- */


/*------------------------------------------------------------------  Sec2 end -------------------------------------------- */





/*------------------------------------------------------------------  Sec3 start -------------------------------------------- */

/*------------------------------------------------------------------  Sec3 end -------------------------------------------- */





/*------------------------------------------------------------------  Sec4 start -------------------------------------------- */

/*------------------------------------------------------------------  Sec4 end -------------------------------------------- */





/*------------------------------------------------------------------  Footer start -------------------------------------------- */

/*------------------------------------------------------------------  Footer end -------------------------------------------- */