/* --------------------------------------------------  All property start ------------------------------------ */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

.container{
    width: 1400px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* ------------------------------------------------------All property start--------------------------------------------- */








/*---------------------------------------------------------------- Header start -------------------------------------------------------*/








/*---------------------------------------------------------------- Hero start------------------------------------------- */







/*----------------------------------------------------------------- Hero end -----------------------------------------------*/

/*-----------------------------------------------------------------  Header end -----------------------------------------------*/







/*------------------------------------------------------------------  Sec2 start -------------------------------------------- */


/*------------------------------------------------------------------  Sec2 end -------------------------------------------- */





/*------------------------------------------------------------------  Sec3 start -------------------------------------------- */

/*------------------------------------------------------------------  Sec3 end -------------------------------------------- */





/*------------------------------------------------------------------  Sec4 start -------------------------------------------- */

/*------------------------------------------------------------------  Sec4 end -------------------------------------------- */





/*------------------------------------------------------------------  Footer start -------------------------------------------- */

/*------------------------------------------------------------------  Footer end -------------------------------------------- */






