/* --------------------------------------------------  All property start ------------------------------------ */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* ------------------------------------------------------All property start--------------------------------------------- */








/*---------------------------------------------------------------- Header start -------------------------------------------------------*/








/*---------------------------------------------------------------- Hero start------------------------------------------- */







/*----------------------------------------------------------------- Hero end -----------------------------------------------*/

/*-----------------------------------------------------------------  Header end -----------------------------------------------*/







/*------------------------------------------------------------------  Sec2 start -------------------------------------------- */



.box {}

.box--card1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card1--ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.card1--ul-li1 {
    width: 336.11px;
    height: 93.2px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35.6928px;
    line-height: 50px;

    color: #575859;

}
.card1--ul-li{
    margin-left: 60px;
}










.box--card2{
    margin-top: 187px;
    display: flex;
    justify-content: space-between;
}
.paste-top{
    width: 492px;
    height: 477px;
    background-image: url(../images/sec2--left--bg.svg);
    padding-top: 72px;
    padding-left: 66px;
    display: grid;
    grid-template-columns: repeat(2, 255px);
    grid-template-rows: repeat(3, 250px);
    gap: 30px;
}
.paste-card{
    width: 255px;
    height: 225px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
   flex-direction: column;
   align-items: center;
    justify-content: flex-start;
    padding-top: 51px;
}
.active{
    margin-top: 30px;
}
.paste-card:nth-child(4){
    background-color: #45B871;
}
.card-span{
    width: 74px;
    height: 74px;
    background-color: #45B871;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 25px;
/* or 83% */


color: #FFFFFF;

}
.span-h4{
    
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 15px;
/* or 54% */
margin-top: 30px;

color: #242323;
}
.whitei{
    background-color: white;
color: black;
}
.whiteh{
    color: white;
}



.text{
    
}

.text-h2{
    width: 406px;
height: 146px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 74px;

color: #242323;
}
.text-p{
    padding-top: 30px;
    width: 611px;
height: 222px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #8C8E91;
}


.play-btn{
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.play-p{
    width: 168px;
height: 32px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 32px;
text-decoration-line: underline;

color: #242323;
}



/*------------------------------------------------------------------  Sec2 end -------------------------------------------- */





/*------------------------------------------------------------------  Sec3 start -------------------------------------------- */

/*------------------------------------------------------------------  Sec3 end -------------------------------------------- */





/*------------------------------------------------------------------  Sec4 start -------------------------------------------- */

/*------------------------------------------------------------------  Sec4 end -------------------------------------------- */





/*------------------------------------------------------------------  Footer start -------------------------------------------- */

/*------------------------------------------------------------------  Footer end -------------------------------------------- */